body {
   background-image: url(background\(animated\).gif);
    background-size: cover;  
    background-position: center;
    background-attachment: fixed;
} 

.text {
    color: aliceblue;
}

.text2 {
    color: blueviolet;
}
 .text3 {
    color: aliceblue;
 }

 .final {
    color: aliceblue;
 }

 .text-geral {
   cursor: default;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
 }

 .topo
 {
    background-color: rgb(49, 49, 49);
    color: rgb(49, 49, 49);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
 }

 .links {
   width: fit-content;
   margin-right: auto;
 }

  audio::-webkit-media-controls-panel {
  background-color: #0066b965; 
  color: #000000;
 }

 .linkContato {
   -webkit-text-fill-color: aliceblue;
   padding: 2px;
   border: 2px solid rgb(0, 0, 0);
   border-radius: 10px;
   font-family: 'Trebuchet MS', sans-serif;
   background-color: rgb(0, 11, 32);
 }

  .linkAvaliacao {
   -webkit-text-fill-color: aliceblue;
   padding: 2px;
   border: 2px solid rgb(0, 0, 0);
   border-radius: 10px;
   font-family: 'Trebuchet MS', sans-serif;
   background-color: rgb(0, 11, 32);
 }

   .linkSobre {
   -webkit-text-fill-color: aliceblue;
   padding: 2px;
   border: 2px solid rgb(0, 0, 0);
   border-radius: 10px;
   font-family: 'Trebuchet MS', sans-serif;
   background-color: rgb(0, 11, 32);
 }


 a {
   text-decoration: none;
 }

  .baixo
 {
    background-color: rgb(49, 49, 49);
    color: rgb(49, 49, 49);
    width: 100%;
    height: 60px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .rodape {
    font-family: cursive;
    color: aliceblue;
 }

.music {
   color: blueviolet;
   font-family: cursive;
}


 html, body 
{ 
  margin: 0; padding: 0; width: 100%; overflow-x: hidden; 
}