body {
    background-color: black;
    background-size: cover;  
    background-position: center;
    background-attachement: fixed;
    margin: 0;
    overflow: hidden;
    position: relative;
}
#canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

body.swal2-shown {
    overflow: hidden !important;
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

body.swal2-shown.swal2-height-auto {
    padding-right: var(--swal2-scrollbar-fill-width, 0px) !important;
}

.meu-modal-personalizado {
    font-family: Roboto, sans-serif;
    border-radius: 15px;
    background-color: #2c2c2c;
    color: #f0f0f0;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.meu-titulo-personalizado {
    color: #00ffff;
    font-family: cursive;
    font-size: 1.8em;
}

.meu-html-container-personalizado {
    font-family: 'Trebuchet MS', sans-serif;
}

.meu-input-personalizado {
    border: 1.5px solid #00ffff;
    background-color: #3a3a3a;
    color: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
}

.meu-botao-confirmar {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #00bfff !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 8px !important;
    font-weight: bold !important;
}

.baixo {
    background-color: rgb(49, 49, 49);
    color: rgb(49, 49, 49);
    width: 100%;
    height: 60px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: aliceblue;
}

.text2 {
    color: blueviolet;
}
.text3 {
    color: aliceblue;
}

.final {
    color: aliceblue;
}

.text-geral {
    cursor: default;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.topo {
    background-color: rgb(49, 49, 49);
    color: rgb(49, 49, 49);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
    position: relative; 
}

.links {
    width: fit-content;
    margin-right: auto;
}

.BetaV {
    font-family: cursive;
    width: fit-content;
    margin-right: auto;
}

.beta {
    color: blueviolet;
}

.versao {
    color: aliceblue;
}


.linkContato {
    -webkit-text-fill-color: gold;
    padding: 2px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(0, 11, 32);
}

.linkAvaliacao {
    -webkit-text-fill-color: burlywood;
    padding: 2px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(0, 11, 32);
}

.linkSobre {
    -webkit-text-fill-color: red;
    padding: 2px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(0, 11, 32);
}

.linkContatoS {
    -webkit-text-fill-color: aqua;
    padding: 2px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(0, 11, 32);
}

a {
    text-decoration: none;
}

.rodape {
    font-family: cursive;
    color: aliceblue;
}

html, body { 
    margin: 0; padding: 0; width: 100%; overflow-x: hidden; 
}

.visitor-count {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    display: none; 
}
