body {
    background-color: black;
    background-size: cover;  
    background-position: center;
    background-attachement: fixed;
    margin: 0;
    overflow: hidden;
    position: relative;
}
#canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.text-geral {
    color: blueviolet;
    cursor: default;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.topo {
    background-color: rgb(49, 49, 49);
    color: rgb(49, 49, 49);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
    position: relative; 
}

.rodape {
    background-color: rgb(49, 49, 49);
    color: rgb(49, 49, 49);
    width: 100%;
    height: 60px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.bug {
    cursor: not-allowed;
    color: red;
    font-family: cursive;
}

a {
    text-decoration: none;
    color: aliceblue; 
    align-items: center; 
}

html, body { 
    margin: 0; padding: 0; width: 100%; overflow-x: hidden; 
}
